# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.idea/
/src/main/webapp/resources/in.txt
/src/main/webapp/resources/audiogames/steel_rat/
/src/main/webapp/resources/images/steel_rat/
/src/main/webapp/resources/in1.txt
/src/main/webapp/resources/images/werewolves/
/src/main/webapp/resources/audiogames/werewolves/
